.vs/
Client/x64/Debug/
Client/x64/Release/
Common/x64/Debug/
Common/x64/Release/
Server/x64/Debug/
Server/x64/Release/
Debug/Client/Client.exe
Debug/Client/Client.pdb
Debug/Server/Server.exe
Debug/Server/Server.pdb
Server/Configs/ServerConfig_local.json
Server/Configs/ServerConfig.json
MasterServer/Configs/ServerConfig.json
MasterServer/x64/
Debug/MasterServer/MasterServer.exe
Debug/MasterServer/MasterServer.pdb
Server/logs/
Debug/Server/logs/
Client/logs/dummyLog.log
Libraries/Libs/Common/Debug/
Debug/MasterServer/Configs/ServerConfig.json
Debug/Server/Configs/ServerConfig.json
Debug/Client/logs/dummyLog.log
ChatServer/x64/Debug/
x64/
ChatServer/Configs/ServerConfig.json
Debug/ChatServer/logs/chat.log
Debug/ChatServer/logs/master.log
Debug/ChatServer/
ChatServer/logs/chat.log
ChatServer/logs/master.log
