.vs/
Client/x64/Debug/
Client/x64/Release/
Common/x64/Debug/
Common/x64/Release/
Server/x64/Debug/
Server/x64/Release/
Debug/Client/Client.exe
Debug/Client/Client.pdb
Debug/Server/Server.exe
Debug/Server/Server.pdb
Server/Configs/ServerConfig_local.json
